input[type="file"]{
	display: none;
}
.choose-file{
	flex: 1 1 auto;
	margin: 5px;
	padding: 5px;
	border: 2px solid #f7f7f7;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow:hidden;
	transition: .3s;
	color: #f7f7f7;
	display: inline-block;
}
.choose-file:after{
	height: 120%;
	left: -10%;
	/*transform: skewX(15deg);*/
	z-index: -1;
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	/*left: 50%;*/
	bottom: 0;
	/*height: 3px;*/
	background: #f7f7f7;
}
.choose-file:hover{
	color: #5bcaff;
	cursor: pointer;
}
.choose-file:hover:after{
	left: -10%;
	width: 120%;
	transform: skewX(15deg);
	z-index: -1;
}
body{
	background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
	color: #4e4545;
	font-size: 16px;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	width: 1200px;
	margin: 0 auto;
}
textarea{
	display: inherit;
	border: none;
	background-color: transparent;
}
input{
	display: inherit;
	border: none;
	background-color: transparent;
}
textarea{
	color: #333;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	padding: 0;
}
textarea ~ .focus-border{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.4s;
}
textarea:focus ~ .focus-border{
	width: 100%;
	transition: 0.4s;
}
.effect-area{
	position: relative;
}
input:focus,textarea:focus{
	outline: none;
}
#files,#progress{
	color: #004cff;
}
input[type="radio"]
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;     
	margin-right: 7px;
	outline: none;
}
input[type="radio"]:checked::before
{
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}
input[type="radio"]:hover
{
	background-color: #f7f7f7;
}
input[type="radio"]:checked
{
	background-color: #f1f1f1;
}
.a {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.a input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #f1f1f1;
}

/* On mouse-over, add a grey background color */
.a:hover input ~ .checkmark {
	background-color: #f1f1f1;
}

/* When the checkbox is checked, add a blue background */
.a input:checked ~ .checkmark {
	background-color: #f1f1f1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.a input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.a .checkmark:after {
	left: 9px;
	top: 5px;	
	width: 6px;
	height: 10px;
	border: solid #666;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(40deg);
}
.a label{
	cursor: pointer;
	color: #4e4545;
	font-size: 16px;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
div label{
	cursor: pointer;
}
label{
	margin: 0px;
}
th{
	font-weight: 200;
	text-align: center;
	border: 1px solid #fff;
}
table{
	width: 100%;
	border: 1px solid #fff;

}
td{
	text-align: center;
	border: 1px solid #fff;
}
.table-header{
	text-align: left!important;
}
td input{
	top: 3px!important;
}
.table{
	margin-top: 10px;
}
img{
	width: 160px;
	height: 100%;
}
body{
	margin: 0 auto;
	width: 1300px;
	background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
	color: #4e4545;
}
header{
	display: flex;
	margin-bottom: 3%;
}
.left-header{
	max-width: 30%;
	flex-basis: 30%;
}
.right-header{
	max-width: 70%;
	flex-basis: 70%;
}

.qs{
	color: red;
	text-decoration: underline;
}
.qs-background{
	margin: 2% 0;
}
.submit{
	text-align: center;
}
.title-file-music{
	padding: 10px;
	margin: 0px;
}
.file-music{
	border: 3px solid #f1f1f1;
	-webkit-box-shadow: 3px 3px 15px grey;
}